@charset "UTF-8";
/* ***************** variables ************* */
/********fuentes*********/
/******paleta de colores *****/
/******* mixin *********/
header {
  background-size: cover;
}
header .navbar {
  font-family: "Barrio", cursive;
  font-size: 2rem;
  border-radius: 20px;
  width: 90vw;
  translate: 0 -2rem;
  z-index: 1;
}
header .navbar .brand:hover {
  color: #FF0075;
}
header .navbar .collapse .nav-home {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-home:hover {
  background-color: #FF0075;
  border-radius: 30px;
}
header .navbar .collapse .nav-filo {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-filo:hover {
  background-color: #FFEF00;
}
header .navbar .collapse .nav-camp {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-camp:hover {
  background-color: #008CF7;
}
header .navbar .collapse .nav-exp {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-exp:hover {
  background-color: #C2F739;
}
header .navbar .collapse .nav-exp .dropdown-menu {
  border-radius: 15px;
  padding: 10px;
}
header .navbar .collapse .nav-exp .dropdown-menu a:hover {
  background-color: #C2F739;
}
header .navbar .collapse .nav-contacto {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-contacto:hover {
  background-color: #FF0075;
}
header .navbar2 ul {
  list-style: none;
}
header .navbar2 ul li {
  display: inline-block;
}
header .navbar2 ul li i {
  font-size: 1.2rem;
  color: #C2F739;
}
header .navbar2 ul li i:hover {
  color: #FF0075;
}

.up a {
  text-decoration: none;
}
.up a i {
  font-size: 1.5rem;
  color: #C2F739;
  position: fixed;
  z-index: 1;
  transition: all 0.5s;
}
.up a i:hover {
  font-size: 2rem;
}

video {
  position: fixed;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero h2 {
  font-family: "Indie Flower", cursive;
  background-color: #C2F739;
}

@media (min-width: 450px) and (max-width: 768px) {
  .contacto-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "contacto" "mapa";
  }
}
/*************** footer *********/
footer {
  background-color: black;
  border-top: 3px solid #C2F739;
  position: fixed bottom;
  margin-bottom: 0;
}
footer .legales {
  font-weight: 500;
  color: #C2F739;
}
footer .redes-f a .ic {
  color: #C2F739;
  font-size: 1.5rem;
}
footer .redes-f a .ic:hover {
  color: #FF0075;
}
footer .links ul {
  list-style: none;
}
footer .links ul li a {
  text-decoration: underline;
  color: #C2F739;
}
footer .links ul li a:hover {
  color: #FF0075;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

main .noticias .card-body h4 {
  color: #C2F739;
}
main .noticias .card-body p {
  font-size: 1rem;
  font-family: "Indie Flower", cursive;
}
main .noticias .card-body button {
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  background-color: #C2F739;
}
main .noticias .card-body button:hover {
  background-color: #008CF7;
  color: #C2F739;
}
main .filosofia {
  background-color: white;
  display: grid;
  row-gap: 2rem;
  width: 95vw;
  border-radius: 10px;
}
main .filosofia h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
  border-top: 5px solid #FF0075;
}
main .filosofia p {
  font-size: 1rem;
  font-family: "Indie Flower", cursive;
}
main .filosofia h4 {
  font-weight: 700;
}
main .filosofia h5 {
  color: #FFEF00;
}
main .filosofia .guias img {
  box-shadow: 5px 5px #FF0075;
  filter: grayscale(100%);
  transition: all ease-in 0.5s;
}
main .filosofia .guias img:hover {
  filter: grayscale(10%);
}
main .galeria .galeria2 {
  background-color: white;
  border-radius: 15px;
}
main .galeria .galeria2 h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
}
main .galeria .fotos {
  background-color: white;
  row-gap: 2rem;
}
main .galeria .fotos img {
  border: 3px solid #C2F739;
  box-shadow: 4px 4px 4px 4px #C2F739;
  transition: all ease-in 0.5s;
  filter: contrast(50%);
}
main .galeria .fotos img:hover {
  translate: 0 -5px;
  filter: contrast(100%);
}

.pre h2 {
  color: #FF0075;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
  height: 20rem;
}

.contacto-main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contacto imagen" "mapa imagen";
  row-gap: 2rem;
}
.contacto-main .contacto-prologo {
  background-color: #C2F739;
  border-radius: 20px;
}
.contacto-main .contacto-prologo h2 {
  color: #FF0075;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
}
.contacto-main .contacto-prologo h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
}
.contacto-main .contacto {
  background-color: black;
  grid-area: contacto;
  border-radius: 15px;
  color: white;
  box-shadow: 5px 5px 5px 5px #C2F739;
}
.contacto-main .contacto ::placeholder {
  font-family: "Indie Flower", cursive;
}
.contacto-main .contacto .formulario .box {
  color: #C2F739;
}
.contacto-main .imagen-contacto {
  grid-area: imagen;
  display: flex;
  justify-content: center;
}
.contacto-main .mapa {
  grid-area: mapa;
  background-color: #C2F739;
  border-radius: 15px;
}
.contacto-main .mapa h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
}
.contacto-main .mapa .datos {
  background-color: #C2F739;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px 5px #C2F739;
  border-radius: 10px;
}
.contacto-main .mapa .datos i {
  color: #008CF7;
}

.expe-main p {
  font-size: 1rem;
  font-family: "Indie Flower", cursive;
}
.expe-main .expe-prologo {
  height: 25rem;
}
.expe-main .expe-prologo h2 {
  color: #FF0075;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
  background-color: black;
}
.expe-main .señales {
  color: #C2F739;
  border: 1px dotted black;
  width: 50%;
  background-color: black;
}
.expe-main .bari {
  background-color: #FF0075;
}
.expe-main .bari h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
  background-color: black;
}
.expe-main .mendoza {
  background-color: #FFEF00;
}
.expe-main .mendoza h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
  background-color: black;
}
.expe-main .chile {
  background-color: #008CF7;
}
.expe-main .chile h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
  background-color: black;
}

.faq-body {
  background-image: url(../img/fondo-faq.jpg);
}

/*# sourceMappingURL=estilo.css.map */
