/****************** variables **************/
/********fuentes*********/
/******paleta de colores *****/
/******* mixin *********/
header {
  background-size: cover;
}
header .navbar {
  font-family: "Barrio", cursive;
  font-size: 2rem;
  border-radius: 20px;
  width: 100vw;
}
header .navbar .brand:hover {
  color: #FF0075;
}
header .navbar .collapse .nav-home {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-home:hover {
  background-color: #FF0075;
  border-radius: 30px;
}
header .navbar .collapse .nav-filo {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-filo:hover {
  background-color: #FFEF00;
}
header .navbar .collapse .nav-camp {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-camp:hover {
  background-color: #008CF7;
}
header .navbar .collapse .nav-exp {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-exp:hover {
  background-color: #C2F739;
}
header .navbar .collapse .nav-exp .dropdown-menu {
  border-radius: 15px;
  padding: 10px;
}
header .navbar .collapse .nav-exp .dropdown-menu a:hover {
  background-color: #C2F739;
}
header .navbar .collapse .nav-contacto {
  border: 1px solid white;
  border-radius: 30px;
  transition: all ease-in 0.5s;
}
header .navbar .collapse .nav-contacto:hover {
  background-color: #FF0075;
}
header .navbar2 ul {
  list-style: none;
}
header .navbar2 ul li {
  display: inline-block;
}
header .navbar2 ul li i {
  font-size: 1.2rem;
  color: #C2F739;
}

video {
  position: fixed;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero h2 {
  font-family: "Indie Flower", cursive;
  background-color: #C2F739;
}

@media (min-width: 450px) and (max-width: 768px) {
  .contacto-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "contacto" "mapa";
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

main .filosofia {
  background-color: white;
  display: grid;
  row-gap: 2rem;
  width: 95vw;
}
main .filosofia h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
  border-top: 5px solid #FF0075;
}
main .filosofia p {
  font-size: 1rem;
  font-family: "Indie Flower", cursive;
}
main .filosofia img {
  border: 5px solid white;
}

.contacto-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contacto imagen" "mapa imagen";
  row-gap: 2rem;
}
.contacto-main .contacto-prologo {
  background-color: #C2F739;
  border-radius: 20px;
}
.contacto-main .contacto-prologo h1 {
  color: #FF0075;
  text-decoration: underline #FF0075;
  font-family: "Barrio", cursive;
}
.contacto-main .contacto-prologo h2 {
  color: #008CF7;
  font-weight: 700;
  font-family: "Indie Flower", cursive;
}
.contacto-main .contacto {
  background-color: black;
  grid-area: contacto;
  border-radius: 15px;
  color: white;
}
.contacto-main .contacto ::placeholder {
  font-family: "Indie Flower", cursive;
}
.contacto-main .contacto .formulario .box {
  color: #C2F739;
}
.contacto-main .imagen-contacto {
  grid-area: imagen;
  justify-self: end;
}
.contacto-main .mapa {
  grid-area: mapa;
  background-color: #C2F739;
  border-radius: 15px;
}
.contacto-main .mapa h3 {
  color: #FF0075;
  font-family: "Barrio", cursive;
  text-decoration: underline #FF0075;
}

/*# sourceMappingURL=estilo.css.map */
