/*************** footer *********/

footer {
    background-color: black;
    border-top: 3px solid $secondary-color;
    position: fixed bottom;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;


    .legales {
        font-weight: 500;
        color: $secondary-color;
    }

    .redes-f {

        a {
            .ic {
                color: $secondary-color;
                font-size: 1.5rem;

                &:hover {
                    color: $base-color;
                }
            }
        }
    }

    .links {

        ul {

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-weight: 700;

                    &:hover {
                        color: $base-color;
                    }
                }
            }
        }

    }
}