/*************** footer *********/

footer {
    background-color: black;
    border-top: 3px solid $secondary-color;
    position: fixed bottom;
    margin-bottom: 0;


    .legales {
        font-weight: 500;
        color: $secondary-color;
    }

    .redes-f {
        
        a {
            .ic {
                color: $secondary-color;
                font-size: 1.5rem;

                &:hover {
                    color: $base-color;
                }
            }
        }
    }

    .links {

        ul {
            list-style: none;

            li {

                a {
                    text-decoration: underline;
                    color: $secondary-color;

                    &:hover {
                        color: $base-color;
                    }
                }
            }
        }

    }
}