.up {
    a {
        text-decoration: none;

        i {
            font-size: 1.5rem;
            color: $secondary-color;
            position: fixed;
            z-index: 1;
            transition: all .5s;

            &:hover {
                font-size: 2rem;
            }
        }
    }
}