// Small devices (landscape phones, 576px and up)
@media (min-width: 350px) and (max-width:768px) {

    footer {
        height: 10rem;

        .redes-f {
            display: none;
        }
    }

    // pagina contacto

    .contacto-main {
        margin-top: 5rem;

    }

}




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width:1030px) {

    // pagina contacto

    footer {
        height: 20%;
        width: 100%;
        display: flex;
        justify-content: space-around;


        .redes-f {
            display: none;
        }

    }

}