@import "variables", "header", "icono-up", "video", "hero", "acordeon", "medias-querry", "footer";

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;


}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

// main index

main {

    .noticias {

        h3 {
            @include h3;
        }

        .card-body {

            h4 {
                @include h4;
            }

            p {
                @include p;
            }

            span {
                color: $base-color;
            }

            button {
                text-decoration: none;
                font-family: $secondary-font-family;
                background-color: $secondary-color;

                &:hover {
                    background-color: $base-color;
                    color: $secondary-color;
                }
            }
        }
    }

    .filosofia {
        background-color: white;
        row-gap: 2rem;
        width: 100vw;
        border-radius: 10px;


        h3 {
            @include h3;
            border-top: 5px solid $base-color
        }

        p {
            @include p;
        }

        h4 {
            font-weight: 700;
        }

        h5 {
            color: $primary-color;
        }

        .guias {

            img {
                box-shadow: 5px 5px $base-color;
                filter: grayscale(100%);
                transition: all ease-in .5s;

                &:hover {
                    filter: grayscale(10%);
                }
            }
        }
    }

    // galeria

    .galeria {

        .galeria2 {
            background-color: black;
            border-radius: 15px;
            display: flex;

            h3 {
                @include h3;
            }
        }

        .fotos {
            background-color: black;
            row-gap: 1rem;
            justify-content: space-between;


            img {

                box-shadow: 4px 3px 3px 3px white;
                transition: all ease-in .5s;
                filter: contrast(50%);

                &:hover {
                    translate: 0 -5px;
                    filter: contrast(100%)
                }
            }
        }
    }
}

// pagina contacto

.pre {
    height: 30em;

    h2 {
        @include h2;
        background-color: black;
        border-radius: 15px;
    }
}

.contacto-main {

    .formulario {
        background-color: black;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px $secondary-color;
        translate: -2rem -5rem;

        h3 {
            @include h3;
        }

        ::placeholder {
            font-family: $secondary-font-family;
            color: $base-color;
        }
    }

    .mapa {
        background-color: $secondary-color;
        border-radius: 15px;
        width: 55%;

        h3 {
            @include h3;
        }
    }

    .datos {
        background-color: $primary-color;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 50%;
        @include caja;

        i {
            color: $text-color;
        }
    }
}

// expediciones

.expe-main {

    p {
        @include p;
    }

    .expe-prologo {
        height: 25rem;

        h2 {
            @include h2;
            background-color: black;
            border-radius: 15px;
        }
    }

    .señales {
        color: $secondary-color;
        border: 1px dotted black;
        width: 50%;
        background-color: black;
    }

    .bari {
        background-color: $base-color;

        h3 {
            @include h3;
            background-color: black;
        }
    }

    .mendoza {
        background-color: $primary-color;


        h3 {
            @include h3;
            background-color: black;
        }
    }

    .chile {
        background-color: $text-color;

        h3 {
            @include h3;
            background-color: black;
        }
    }
}

// faq

.faq-body {
    background-image: url(../img/fondo-faq.jpg);

    .prologo-faq {
        height: 10rem;

        h2 {
            @include h2;
            background-color: black;
        }
    }
}

// campus

.main-campus {

    .prologo-campus {

        h2 {
            @include h2;
        }

        border-radius: 15px;
        background-color: black;
    }

    border-radius: 15px;
    margin-left: 1rem;

    p {
        font-weight: 800;
    }

    h3 {
        @include h3;
    }

    .tarjetas2 {
        column-gap: 1rem
    }
}

// legales

.legales {
    h2 {
        @include h2;
    }
}